# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

#General output directories
Release
Debug
Debug\ Gcov

# vc++
*.sdf
*.suo
*.opensdf
*.pdb
*.ilk
source/ipch/
cpp_port/ipch
bin/shaders
bin/images
bin/gliConfig.ini
bin/gliInterceptLog.txt
bin/gliLog.txt
bin/OpenGL32.dll
bin/Frame*

#Test case nonsense
cube_solve_tests/core
cube_solve_tests/cute

#Python
__pycache__

#Annoying editor backup files
*~

#Eclipse
.metadata
