# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

#General output directories
Release
Debug

# vc++
*.sdf
*.suo
*.opensdf
*.pdb
*.ilk
source/ipch/
cpp_port/ipch
bin/shaders
bin/images
bin/gliConfig.ini
bin/gliInterceptLog.txt
bin/gliLog.txt
bin/OpenGL32.dll

#Python
__pycache__

#Annoying editor backup files
*~

#Eclipse
.metadata
