# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# vc++
*.sdf
*.suo
*.opensdf
*.pdb
*.ilk
source/ipch/
source/Jigsaw3D/Debug
source/Jigsaw3D/Release
cpp_port/source/Debug
cpp_port/source/Release
cpp_port/ipch
bin/shaders
bin/images
bin/gliConfig.ini
bin/gliInterceptLog.txt
bin/gliLog.txt
bin/OpenGL32.dll

#Python
__pycache__

#Cpp_port binaries
cpp_port/Debug
cpp_port/Release

#Annoying editor backup files
*~

#Eclipse
.metadata
